$unanswered-color: #e66060;
$answered-color: #698dc9;

$gray1-color: #f2f2f2;
$gray3-color: #ababab;
$purple5-color: #8d0377;
$orange2-color: #fcc25e;
$orange5-color: #c63806;
$tealblue2-color: #deefed;
$tealblue6-color: #045866;
$green2-color: #def9a2;
$green4-color: #53a00a;

$white: #ffffff;

$main-button-color: $purple5-color;
$main-button-hover: $orange5-color;
$result-table-border: $gray3-color;
$error-message: $orange5-color;
$header-text-color: $white;
$table-striping-color: $gray1-color;
$table-above96-color: $tealblue2-color;
$table-above70-color: $green2-color;
$table-is70-color: $orange2-color;