$purple5-color: #8d0377;
$orange5-color: #c63806;
$orange6-color: #a32e1c;
$slateblue3-color: #accddd;
$slateblue4-color: #085e8e;
$tealblue5-color: #0b7384;
$gray1-color: #f2f2f2;
$grey2-color: #d6d6d6;
$gray3-color: #ababab;
$purple5-color: #8d0377;
$tealblue6-color: #045866;
$green4-color: #53a00a;
$white: #ffffff;


$unanswered-color: $orange5-color;
$answered-color: $slateblue4-color;

$main-button-color: $purple5-color;
$main-button-hover: $orange5-color;
$result-table-border: $gray3-color;
$error-message: $orange5-color;
$header-text-color: $white;
$table-striping-color: $gray1-color;