@import "imports/variables";

.container {
  text-align: center;

  .user_list {
    padding: 20px;
  }

  table {
    margin: auto;
    text-align: left;

    thead {
      background-color: $tealblue6-color;
      color: $header-text-color;
    }

    th {
      padding: 5px;
    }

    td {
      padding: 5px;
    }

    .table-entry:nth-child(even) {
      background-color: $gray1-color;
    }
  }

  img {
    width: 100%;
  }

  p {
    display: inline;
    margin: 10px;
  }
}

.above96 {
  background-color: $table-above96-color;
}

.above70 {
  background-color: $table-above70-color;
}

.is70 {
  background-color: $table-is70-color;
}