.academy-logo {
  display: block;
  width: 400px;
  float: right;
  margin: 20px; }

.mayden-logo {
  display: block;
  width: 300px;
  margin: 20px; }

.logo-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #d7d6d4;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Asap', sans-serif; }

#result_page {
  display: none; }

.result_card {
  background-color: #fff;
  margin: auto;
  width: 600px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.greetings {
  height: 100px; }
  .greetings p {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #045866;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1px; }

.result {
  padding: 0 50px 70px;
  display: flex;
  justify-content: space-around;
  position: relative; }
  .result .points, .result .percentage, .result .answered {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    border: 0.25px solid #ababab; }
    .result .points .points_label, .result .percentage .points_label, .result .answered .points_label, .result .percentage .percentage_label, .result .answered .answered_label {
      height: 70px;
      width: 100%;
      background-color: #045866; }
      .result .points .points_label h3, .result .percentage .points_label h3, .result .answered .points_label h3, .result .percentage .percentage_label h3, .result .answered .answered_label h3 {
        margin: 0;
        line-height: 70px;
        text-align: center;
        color: #fff; }
    .result .points .points_number, .result .percentage .points_number, .result .answered .points_number, .result .percentage .percentage_number, .result .answered .answered_number {
      height: 180px;
      width: 100%; }
      .result .points .points_number p, .result .percentage .points_number p, .result .answered .points_number p, .result .percentage .percentage_number p, .result .answered .answered_number p {
        line-height: 180px;
        text-align: center;
        font-size: 2rem;
        color: #53a00a; }
        .result .points .points_number p span, .result .percentage .points_number p span, .result .answered .points_number p span, .result .percentage .percentage_number p span, .result .answered .answered_number p span {
          font-size: 7rem; }
  .result .percentage {
    border-left: none;
    border-right: none; }

.logo-bottom {
  width: 100%; }

.logo_row {
  background-color: #fff; }
