.container {
  text-align: center; }
  .container .user_list {
    padding: 20px; }
  .container table {
    margin: auto;
    text-align: left;
    width: 700px; }
    .container table thead {
      background-color: #045866;
      color: #ffffff; }
    .container table th {
      padding: 5px; }
    .container table td {
      padding: 5px; }
    .container table .table-entry:nth-child(even) {
      background-color: #f2f2f2; }
  .container img {
    width: 100%; }
  .container p {
    display: inline;
    margin: 10px; }

.above96 {
  background-color: #deefed; }

.above70 {
  background-color: #def9a2; }

.is70 {
  background-color: #fcc25e; }
